{{#with group}}

    {{code}}
    owner: {{owner.profile.name}}


    <div class="w-1/2">
        <form action="/group/{{id}}/events/new" method="post" 
            class="flex flex-col gap-4 p-5">
            
            <div class="flex flex-col">
                <label for="name">Name</label>
                <input type="text" name="name" id="name"
                    class="border rounded p-1" />
            </div>

            <div class="flex flex-col">
                <label for="description">Description</label>
                <input type="text" name="description" id="description"
                    class="border rounded p-1" />
            </div>

            <div class="flex flex-col">
                <label for="date">Date</label>
                <input type="datetime-local" name="date" id="date"
                    class="border rounded p-1" />
            </div>

            <input type="submit" value="Create Event" 
                class="rounded-xl bg-blue-600 text-white p-3 
                hover:bg-blue-700 hover:cursor-pointer transition-colors"/>
        </form>
    </div>

{{/with}}

{{#if events}}

    events
    {{#each events}}
        <div class="border rounded p-3">
            <h1 class="text-xl font-bold">{{name}}</h1>
            <h3 class="text-md font-light">{{description}}</h3>
            <h3 class="text-md font-light">{{date}}</h3>
            <h3>Creator: {{creator.profile.name}}</h3>

            <div class="">
                <h1>people attending:</h1>
                {{#each profiles}}
                    <h3>{{name}}</h3>                    
                {{/each}}
            </div>

            <div class="flex m-3">
                <a href="/group/{{id}}/events/{{id}}"
                    class="rounded-xl bg-blue-600 text-white p-3">View</a>
                {{#if isOwner}}
                <a href="/group/{{group.id}}/events/{{id}}/delete" 
                    class="rounded-xl bg-red-600 text-white p-3">Delete</a>
                {{else}}
                    {{#if isAttending}}
                        <a href="/group/{{group.id}}/events/{{id}}/leave" 
                            class="rounded-xl bg-red-600 text-white p-3">Leave</a>
                    {{else}}
                        <a href="/group/{{group.id}}/events/{{id}}/join" 
                            class="rounded-xl bg-blue-600 text-white p-3">Join</a>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    {{/each}}

{{else}}
    no events
{{/if}}
